<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Класс</th>
                    <th scope="col">Знначение</th>
                    <th scope="col">Выбран пользователем</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Classification problems</td>
                    <td>{{firstClassValue}}</td>
                    <td>
                        {{#if isFirstClass}}
                        X
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Pattern recognition</td>
                    <td>{{secondClassValue}}</td>
                    <td>
                        {{#if isSecondClass}}
                        X
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Biometrics investigations</td>
                    <td>{{thirdClassValue}}</td>
                    <td>
                        {{#if isThirdClass}}
                        X
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Image processing</td>
                    <td>{{fourthClassValue}}</td>
                    <td>
                        {{#if isFourthClass}}
                        X
                        {{/if}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>